<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Bears</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="main.css">

</head>
<body>
	<section id=nav>
	<div class = "nav nav-tabs">
	<ul>
	<li>Home</li>
	<li>About</li>
	<li>Da Bears</li>
	</ul>
	</div>

	
	</section>
	<section id= sec1>
		<div class="jumbotron">
			<div class="container">
				<h1 class="text-center"> Da Bears </h1>
	
			</div>
		</div>
	</section> <!-- end sec1 -->

	<!-- <section id= sec2>
		<div class="jumbotron">
			<div class="container">
		<%= bears %>
				
			</div>
		</div>
	</section> <!-- end sec2 -->

	<section id = sec4>
		<div class="container">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Age</th>
						<th>Gender</th>
						<th>Delete a Bear</th>
					</tr>
				</thead>
				<tbody id="bearTable">
					<% for(var i = 0; i < bears.length; i++) {
						%>
					<tr id="<%= bears[i]._id %>">
						<td><%= bears[i].name %> </td>
						<td><%= bears[i].age %> </td>
						<td><%= bears[i].gender %> </td>
						<td>
						<button type="button" class="btn btn-warning deleteBear">Delete Bear</button></td>
					</tr>
					<%}%>
					
				</tbody>
			</table>
		</div>
	</section> <!--end sec4 -->

	<section id= secform>
			<div class="container center">
				<div class="row">
	 				<div class="col-md-6">
	 					<form class="form-inline" role="form"> 
	 					
	 						<div class="form-group">
	 							<label class="sr-only" for="">label</label>
	 							<input required name="name" type="text" class="form-control" id="name" placeholder="Name">
	 						</div> 
	 						<div class="form-group">
	 							<label name= "age" class="sr-only" for="">label</label>
	 							<input required type="text" name="age" class="form-control" id="age" placeholder="Age">
	 						</div> 
	 						<div class="form-group">
	 							<label class="sr-only" for="">label</label>
	 							<input required name="gender" type="text" class="form-control" id="gender" placeholder="Gender">
	 						</div> 
	 					
							<button type="submit" id="addBear" class="btn btn-primary">Add Bear</button> 		
	 					</form>
	 				</div>
				</div>
			
		    </div>
	</section> <!-- end secform .-->
	<section>
		<div class="container">&nbsp;
		</div>
	</section>

	<section id= sec3>
			<div class="container center">
				<div class="row">
	 				<div class="col-md-6">
	 					<a href = '/'><button type="button" class="btn btn-primary">Back Home</button></a>
	 				</div>
				</div>
			
		    </div>
	</section> <!-- end sec3 -->

	
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script type="text/javascript" src="app.js"></script>
</body>
</html>

	
	


